.head_container {
  height: 54px;
}

.title {
  color: #111111;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  float: left;
}

.add_button {
  border: none;
  width: 159px;
  height: 54px;
  text-align: center;
  padding: 13px 21px 13px 14px;
  gap: 6px;
  color: #ffffff;
  background: #16abf8;
  border-radius: 45px;
  float: right;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.activity_empty {
  margin: auto;
  display: flex;
  justify-content: center;
}

.todo_empty {
  margin: auto;
  display: flex;
  justify-content: center;
}

.card {
  padding: 27px 22px 27px 25px;
  margin: 20px;
  width: 234px;
  height: 234px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.title_item {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
}

.trash {
  margin-top: 136px;
  margin-left: 162px;
}

.back_button {
  float: left;
  margin-top: 11px;
  margin-right: 19px;
}
